@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

header {
  text-align: center;
  font-family:  sans-serif;
  color: blue;
  text-shadow: 2px 2px red;
  font-size: 30px;
}

body {
  background-image: url("night.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.topnav {
    background-color: lightskyblue;
    overflow: hidden;
    animation-name: navigation;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes navigation {
  0% {background-color: lightskyblue;}
  25% {background-color: purple;}
  50% {background-color: green;}
  100% {background-color: yellow;}
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.eminem {
  margin-top: 10%;
  margin-left: 30%;
}

.cool {
  text-align: center;
  color: black;
}

.event {
  color: red;
}

#bar {
  background-image: url("vip.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  background: #ccc;
  width: 400px;
  margin: 40px auto;
  height: 175px;
  position: relative;
  padding: 30px;
}

.badge {
  width: 96px;
  background: #e66357;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 40%;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 25px;
  font-family: 'Anton', sans-serif;
  border-radius: 4px;
}
